# Dependencies
node_modules/
/simulation/venv/
/simulation/__pycache__/
*.pyc

# Environment Variables (Security Risk!)
.env
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/